[Desktop Entry]
Version=1.0
Type=Application
Name=SNAP
Comment=Spike Neuro Acquisition Platform - Software for processing, recording, and visualizing multichannel electrophysiology data.
Exec=/usr/local/bin/snap-neuro/snap-neuro
Icon=/usr/local/bin/snap-neuro/icon-large.png
Categories=Science
Terminal=false
StartupNotify=true
Keywords=ephys;electrophysiology;neuroscience;acquisition;visualization;recording;snap;
